div.footer {
	font-size: 12px;
}

div.footer div.top {
	height: 1.6em;
	margin-bottom: 0.2em;
	color: #666;
	border-bottom: 2px dotted #666;
}

div.footer div.top div.left {
	float: left;
}

div.footer div.top div.right {
	float: right;
}

div.footer div.sitemap a {
	display: block;
}

div.footer div.sitemap div.column01 {
	float: left;
	text-align: left;
	margin-left: 98px;
	width: 195px;
}

div.footer div.sitemap div.column02 {
	float: left;
	text-align: left;
	width: 195px;
}

div.footer div.sitemap div.column03 {
	float: left;
	text-align: left;
	width: 195px;
}
