.parapicture {
	float: right;
	width: 288px;
	text-align: left;
	margin-left: 1em;
}

.collage {
   width: 576px;
   text-align: left;
   margin-top: 2em;
   margin-bottom: 1em;
}

.caption {
	font-size: 0.8em;
	font-style: italic;
}

.minimilogo {
	float: left;
	width: 96px;
	margin-right: 0.5em;
}

ul li {
	font-size: 0.8em;
}
