div.thread div.title {
	color: #669900;
	font-weight: normal;
	font-size: 1.35em;
	margin-top: 1em;
}

div.thread div.notice {
	color: #eb0073;
	font-weight: normal;
	font-size: 1.35em;
	margin-top: 1em;
	margin-bottom: -1em;
}

div.thread div.post {
   font-size: 0.9em;
	margin-top: 1.5em;
}

div.thread div.post div.header {
	background-color: #e3e3e3;
	color: #4d4d4d;
	padding: 0.2em 0.2em 0.2em 0.5em;
}

div.thread div.post div.header div.right {
	float: right;
	text-align: right;
}

div.thread div.post div.body {
	padding: 0.2em 0.2em 0.2em 0.5em;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

div.thread div.post div.header span.topic {
	font-weight: bold;
	color: #666666;
}

div.newpost div.title {
	color: #669900;
	font-weight: normal;
	font-size: 1.35em;
	margin-top: 1em;
}

div.thread div.post div.admin {
   background-color: #e39999;
	color: #4d4d4d;
	padding: 0.2em 0.2em 0.2em 0.5em;
	font-size: 0.8em;
}

.newpost div.single {
	margin-top: 1em;
}

.newpost .textinput {
	width: 190px;
}

.newpost .caption {
   font-size: 0.8em;
}

.newpost div#captchaframes {
	float:right;
}

.newpost div#captchaframes img{
	border-width: 0px;
}

.newpost div#captchaframes #tools {
}

.newpost div#captchaframes .reload {
	font-size: 0.8em;
}

.newpost div#captchaframes .reload img {
	vertical-align: middle;
}

.newpost div#captchaframes #SecurImage_as3 {
	vertical-align: middle;
}
